@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

		*{
			margin: 0;
			padding: 0;
			box-sizing: border-box;
			font-family: 'Poppins', sans-serif;
		}
		body{
			width: 100%;
			height: 100vh;
			display: flex;
			justify-content: center;
			align-items: center;
			background: linear-gradient(45deg, #0a0a0a, #3a4452);
		}
		.Calculator{
			width: 380px;
			border: 1 solid whitesmoke;
			padding: 20px;
			border-radius: 16px;
			background: transparent;
			box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);
		}
		input{
			width: 100%;
			border: none;
			padding: 24px;
			margin: 10px;
			background: transparent;
			text-align: right;
			cursor: pointer;
			font-size: 40px;
			color: #ffffff;
			box-shadow: 0px 3px 15px rgbs(84, 84, 84, 0.1);
            border: 1px solid white;
            border-radius: 10px;
		}
		input::placeholder{
			color: #ffffff

		}
		button{
			border: none;
			width: 60px;
			height: 60px;
			margin: 10px;
			background: transparent;
			border-radius: 50%;
			color: #ffffff;
			font-size: 20px;
			cursor: pointer;
			box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1);
		}
		.myClaas{
			width: 100%;
			height: 100vh;
		}
		.equalBtn{
			background-color: orange;
		}
		.oprator{
			color: orange;
		}
        p{
            color: green;
            font-size: 1.2rem;
            font-weight: bold;
            text-align: center;
            animation: blink 3s linear infinite;
        }

        @keyframes blink {
            40%{color: orange;}
            30%{color: white;}
            30%{color: green;}
        }